alias lal="ls -Alh"
alias lsg="ls -lh --group-directories-first"
alias lalg="ls -alh --group-directories-first"
alias chrome="google-chrome-stable"
alias pacmanremoveorphans="sudo pacman -Rns \$(pacman -Qtdq)"
alias batsave="sudo tlp start && sudo powertop --auto-tune"
