[user]
	email = andrewstefanich@gmail.com
	name = Andrew Stefanich

[alias]
	hist = log --all --graph --decorate --oneline
	lga = log --pretty=fmt --date=short --graph --all
	lg = log --pretty=fmt --date=short --graph
	la = log --pretty=fmt --date=short --all
	ll = log --pretty=fmt --date=short
	lf = log --pretty=fuller --stat
  mergeshow = "!f() { ref=${1:-HEAD}; git diff \"$ref\"^1 \"$ref\"; }; f"

[pretty]
	fmt = %C(auto)%h %C(magenta)%ad %C(cyan)%an%C(auto)%d %s

[core]
	excludesfile = /Users/andrew.stefanich/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = yellow
    file-style = bold yellow ul
    file-decoration-style = none
[pull]
	ff = only
[safe]
	directory = /precommit
[rerere]
	enabled = true
