Xft.dpi: 140

! reload with xrdb -merge ~/.Xresources
XTerm*termName: xterm-256color
XTerm*faceName: DejaVuSansMono Nerd Font
XTerm*faceSize: 10
XTerm*renderFont: true
XTerm*selectToClipboard: true
! enables Alt key (period should be * i think)
! should be XTerm*metaSendsEscape: true ??
XTerm.vt100.metaSendsEscape: true
 
XTerm*VT100.translations: #override \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl Shift <Key>c: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>v: insert-selection(CLIPBOARD)

! special
XTerm*foreground:   #e0e2e4
XTerm*background:   #000000
XTerm*cursorColor:  #606060

